<h1 class="ui center aligned header">
  Welcome to MessageMe - <em>a complete Chat App</em>
</h1>

<h2 class="ui center aligned medium icon header">
  <i class="circular orange inverted user outline icon"></i>
  Sign up now!
</h2>

<%= render 'shared/errors', obj: @user %>

<%= form_with(model: @user, local: true) do |f| %>
  <div class="ui placeholder segment">
    <div class="ui two column very relaxed stackable grid">
      <div class="middle aligned column">
        <%= link_to "Log in", root_path, class: "ui orange big button"%>
      </div>
      <div class="middle aligned column">
        <div class="ui form">
          <div class="field">
            <%= f.label :username %>
            <div class="ui left icon input">
              <%= f.text_field :username, class: "", placeholder: "Username"%>
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field">
            <%= f.label :password %>
            <div class="ui left icon input">
              <%= f.password_field :password, class: "", autocomplete: "off"%>
              <i class="lock icon"></i>
            </div>
          </div>
          
          <%= f.submit "Sign up", class: "ui fluid orange submit button"%>
          
        </div>
      </div>
    </div>
    <div class="ui vertical divider">
      Or
    </div>
  </div>
<% end %>