<div class="ui inverted small menu">
  <div class="ui container">
    <h2 class="ui small header item">
      <i class="circular orange inverted envelope icon"></i>
      <% if logged_in? %>
        <%= link_to "MessageMe", chatroom_path%>
      <% else %>
        <%= link_to "MessageMe", root_path%>
      <% end %>
    </h2>
    <%= link_to "Chatroom", chatroom_path, class: "item"%>
    <div class="right menu">
      <div class="ui dropdown item">
        Account <i class="dropdown icon"></i>
        <div class="menu">
          <% if logged_in? %>
            <%= link_to "Log out", logout_path, method: :delete, class: "item" %>
          <% else %>
            <%= link_to "Log in", root_path, class: "item"%>
            <%= link_to "Sign up", signup_path, class: "item"%>
          <% end %>
        </div>
      </div>

      <% if !logged_in? %>
        <div class="item">
            <%= link_to "Sign up", signup_path, class: "ui primary button"%>
        </div>
      <% else %>
        <div class="item">
          <%= current_user.username %>
        </div>
      <% end %>
    </div>
  </div>
</div>